
.m1r{
  width: 45%;
  margin-left: 2%;
  margin-top: 1.5%;
  
}
.m2r{
  width: 80%;
  margin-left: 2%;
  margin-top: 1.5%;
  
}
.modalGlobal{
  overflow:auto;
}
.TableContainer{
  height: 70vh;
  
}
.selects{
  width: 120%;
}
.tableScroll{
  width: 100vw!important;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  display: contents;
}