
.m1r{
  width: 45%;
  margin-left: 2%;
  margin-top: 1.5%;
  
}
.m2r{
  width: 80%;
  margin-left: 2%;
  margin-top: 1.5%;
  
}
.modalGlobal{
  overflow:auto;
}
.TableContainer{
  height: 70vh;
  
}
.selects{
  width: 120%;
}
.tableScroll{
  width: 100vw!important;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  display: contents;
}

.text90deg{
  transform: rotate(-90deg);
  width: 7rem;
  height: 2rem;
  margin: -2rem;
  position: relative!important;
  left: 5rem;
  top: 5rem;
}
.marginInput{
  margin: 17px;
}

.smOnly{
  display: none;
}
.xlOnly{
  display: block;
}
.boxEffect{
  border-top:1px solid gray;
  margin: 0;
  padding: 0;
}
@media (max-width: 480px) {

  .smOnly{
    display: block;
  }
  .xlOnly{
    display: none;
  }

}