
.m1r{
  width: 45%;
  margin-left: 2%;
  margin-top: 1.5%;
  
}
.m2r{
  width: 80%;
  margin-left: 2%;
  margin-top: 1.5%;
  
}
.modalGlobal{
  overflow:auto;
}
.TableContainer{
  height: 70vh;
  
}
.selects{
  width: 120%;
}
.tableScroll{
  width: 100vw!important;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  display: contents;
}

.text90deg{
  transform: rotate(-90deg);
  width: 8.5rem;
  height: 2rem;
  margin: -2rem!important;
  position: relative!important;
  left: 5rem;
  top: 5rem;
}
.marginInput{
  margin: 30px;
  cursor: pointer;
}

.smOnly{
  display: none;
}
.xlOnly{
  display: block;
}
.boxEffect{
  border-top:1px solid gray;
  margin: 0;
  padding: 0;
}
.box{
  border: 1px solid black;
  text-align: center;
}
.headBox{
  background-color: #192543;
  color: white;
  text-align: center;
}
.espacio{
  margin: 1.5rem;
}
.ItemName{
  margin:1rem;
  width:6rem;
}

@media (max-width: 480px) {
  .marginInput{
    margin: 15px;
  }
  .text90deg{
    margin: 1rem !important;
    width: 0.9rem;
    white-space: nowrap;
    left: 2.5rem;
  }
  .smOnly{
    display: block;
  }
  .xlOnly{
    display: none;
  }
  .ItemName{
    margin: 0rem;
    min-width: 6rem;
  }

}